In [ ]:
import numpy as np

In [ ]:
import pandas as pd

In [ ]:
pip install textdistance

Collecting textdistance
  Downloading textdistance-4.2.1-py3-none-any.whl (28 kB)
Installing collected packages: textdistance
Successfully installed textdistance-4.2.1

In [ ]:
import textdistance as td

In [ ]:
castDf = pd.read_stata('cast.dta')
castDf.head()

              stateid  distid  psuid  ...  id12bnm_ihds2  id13_ihds2     _merge
0  Jammu & Kashmir 01       2      1  ...                      OBC 3       both
1  Jammu & Kashmir 01       2      1  ...                        NaN  only 2005
2  Jammu & Kashmir 01       2      1  ...                        NaN       both
3  Jammu & Kashmir 01       2      1  ...                      OBC 3       both
4  Jammu & Kashmir 01       2      1  ...                  Forward 2       both

[5 rows x 18 columns]

In [ ]:
castDf['id12anm_ihds2_upd'] = castDf['id12anm_ihds2'].copy()
castDf

                  stateid  distid  ...     _merge  id12anm_ihds2_upd
0      Jammu & Kashmir 01       2  ...       both
1      Jammu & Kashmir 01       2  ...  only 2005
2      Jammu & Kashmir 01       2  ...       both
3      Jammu & Kashmir 01       2  ...       both
4      Jammu & Kashmir 01       2  ...       both              MALIK
...                   ...     ...  ...        ...                ...
46950      Pondicherry 34       0  ...       both           VANNIYAR
46951      Pondicherry 34       0  ...       both           VANNIYAR
46952      Pondicherry 34       0  ...       both           VANNIYAR
46953      Pondicherry 34       0  ...       both           VANNIYAR
46954      Pondicherry 34       0  ...       both            VANNIAR

[46955 rows x 19 columns]

In [ ]:
castDf

                  stateid  distid  ...     _merge  id12anm_ihds2_upd
0      Jammu & Kashmir 01       2  ...       both
1      Jammu & Kashmir 01       2  ...  only 2005
2      Jammu & Kashmir 01       2  ...       both
3      Jammu & Kashmir 01       2  ...       both
4      Jammu & Kashmir 01       2  ...       both              MALIK
...                   ...     ...  ...        ...                ...
46950      Pondicherry 34       0  ...       both           VANNIYAR
46951      Pondicherry 34       0  ...       both           VANNIYAR
46952      Pondicherry 34       0  ...       both           VANNIYAR
46953      Pondicherry 34       0  ...       both           VANNIYAR
46954      Pondicherry 34       0  ...       both            VANNIAR

[46955 rows x 19 columns]

In [ ]:
castDf['id12anm_ihds2_upd'][4590]

'ANUSUCHIT'

In [ ]:
ptr = 0
castList = []
castList.append(castDf['id12anm_ihds2_upd'][0])
for i in range(1,len(castDf)):
    count = 0
    for j in range(len(castList)):
        if(td.sorensen.normalized_similarity(castDf['id12anm_ihds2_upd'][i].lower(),castList[j].lower())>0.75):
            castDf['id12anm_ihds2_upd'][i] = castList[j]
            count += 1
    if(count == 0):
        castList.append(castDf['id12anm_ihds2_upd'][i])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

KeyboardInterrupt: ignored

In [ ]:

a = "Vannier"
b = "vannyer"

print(td.sorensen.normalized_similarity(a.lower(),b.lower()))

0.8571428571428571

In [ ]:
listCastUnique = []
for i in range(5,400):
    if(castDf['id12anm_ihds2'][i] != ""):
        listCastUnique.append(castDf['id12anm_ihds2'][i])
listCastUnique[:10]

['MALIK',
 'BHAI',
 'BHAI',
 'BHAT',
 'BABA',
 'BABA',
 'HAJAM',
 'SOFI',
 'LONE',
 'BHAT']

In [ ]:
listCastUnique2 = listCastUnique.copy()

In [ ]:
len(set(listCastUnique2))

46

In [ ]:
len(listCastUnique)

166

In [ ]:
castList = []
castList.append(listCastUnique[0])
for i in range(1,len(listCastUnique)):
    count = 0
    for j in range(len(castList)):
        if(td.sorensen.normalized_similarity(listCastUnique[i].lower(),castList[j].lower())>0.65):
            listCastUnique[i] = castList[j]
            count += 1
    if(count == 0):
        castList.append(listCastUnique[i])

In [ ]:
castList

['MALIK',
 'BHAI',
 'BABA',
 'HAJAM',
 'SOFI',
 'LONE',
 'GANAI',
 'RATHER',
 'SHEIKH',
 'MIR',
 'KHAN',
 'DAR',
 'QURESHI',
 'HAKEEM',
 'GALKAR',
 'SHAH',
 'NAZRA',
 'HALWAI',
 'LANGOO',
 'FAROOQI',
 'GUZAR',
 'PANDIT',
 'WAGAY',
 'NAVAKU',
 'MALLA',
 'SHERGOGERI',
 'NADAF']

In [ ]:
len(castList)

27

In [ ]:
listCastUnique.sort()
listCastUnique

['BABA',
 'BABA',
 'BHAI',
 'BHAI',
 'BHAI',
 'BHAI',
 'BHAI',
 'BHAI',
 'BHAI',
 'BHAI',
 'BHAI',
 'BHAI',
 'BHAI',
 'BHAI',
 'BHAI',
 'BHAI',
 'BHAI',
 'BHAI',
 'BHAI',
 'BHAI',
 'BHAI',
 'BHAI',
 'BHAI',
 'BHAI',
 'BHAI',
 'BHAI',
 'BHAI',
 'BHAI',
 'DAR',
 'DAR',
 'DAR',
 'DAR',
 'DAR',
 'DAR',
 'DAR',
 'DAR',
 'DAR',
 'DAR',
 'DAR',
 'DAR',
 'DAR',
 'DAR',
 'DAR',
 'DAR',
 'DAR',
 'DAR',
 'DAR',
 'DAR',
 'DAR',
 'DAR',
 'FAROOQI',
 'GALKAR',
 'GALKAR',
 'GALKAR',
 'GANAI',
 'GANAI',
 'GANAI',
 'GANAI',
 'GANAI',
 'GANAI',
 'GANAI',
 'GANAI',
 'GANAI',
 'GANAI',
 'GANAI',
 'GANAI',
 'GANAI',
 'GANAI',
 'GANAI',
 'GANAI',
 'GANAI',
 'GANAI',
 'GANAI',
 'GANAI',
 'GANAI',
 'GUZAR',
 'GUZAR',
 'GUZAR',
 'HAJAM',
 'HAJAM',
 'HAKEEM',
 'HALWAI',
 'KHAN',
 'KHAN',
 'KHAN',
 'KHAN',
 'KHAN',
 'KHAN',
 'KHAN',
 'KHAN',
 'KHAN',
 'KHAN',
 'KHAN',
 'KHAN',
 'KHAN',
 'KHAN',
 'LANGOO',
 'LONE',
 'LONE',
 'LONE',
 'LONE',
 'LONE',
 'LONE',
 'LONE',
 'LONE',
 'LONE',
 'LONE',
 'LONE',
 'MALIK',
 'MALIK',
 'MALIK',
 'MALIK',
 'MALIK',
 'MALIK',
 'MALIK',
 'MALIK',
 'MALIK',
 'MALLA',
 'MALLA',
 'MALLA',
 'MALLA',
 'MALLA',
 'MALLA',
 'MALLA',
 'MIR',
 'MIR',
 'MIR',
 'MIR',
 'MIR',
 'MIR',
 'MIR',
 'NADAF',
 'NAVAKU',
 'NAZRA',
 'PANDIT',
 'PANDIT',
 'PANDIT',
 'PANDIT',
 'QURESHI',
 'RATHER',
 'RATHER',
 'RATHER',
 'RATHER',
 'SHAH',
 'SHAH',
 'SHAH',
 'SHEIKH',
 'SHEIKH',
 'SHEIKH',
 'SHEIKH',
 'SHEIKH',
 'SHEIKH',
 'SHEIKH',
 'SHEIKH',
 'SHERGOGERI',
 'SHERGOGERI',
 'SHERGOGERI',
 'SOFI',
 'SOFI',
 'SOFI',
 'WAGAY',
 'WAGAY',
 'WAGAY',
 'WAGAY',
 'WAGAY',
 'WAGAY']